.post-intro {
	background-size: cover;
	background-position: center;
    height: 600px;
    position: relative;
    margin-bottom: $grid-gutter-width*2;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        z-index: 1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}

.responsive-headline {
	font-size: 1.4em;
	margin-bottom: $grid-gutter-width;
	display: block;
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}

.intro-text-wrapper {
	//padding-top: 20em;
	//padding-bottom: 3em;
	//margin-bottom: 1.4em;
	color: $white;
	font-size: 1.45em;
    position: absolute;
    bottom: $grid-gutter-width*2;
    width: 100%;
    left: 0;
    z-index: 2;
	display: none;
	@media (min-width: $screen-sm-min) {
		display: block;
	}
	h1 {
		font-size: 2.45em;
        line-height: 1.1em;
        margin-bottom: .4em;
	}
}

.two-images {
	.left {
		img {
			margin-bottom: $grid-gutter-width;
			@media (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
		}
	}
}

.share-wrapper {
	font-size: .7em;
	margin-top: 0;
    margin-bottom: $grid-gutter-width/2;
	@media (min-width: $screen-md-min) {
		margin-bottom: -100%;
		margin-top: $grid-gutter-width/2;
	}
	a {
		text-align: center;
		display: block;
		text-decoration: none;
		color: $typography-primary;
		opacity: .5;
		margin-bottom: $grid-gutter-width/1.2;
		line-height: 1em;
		display: inline-block;
		margin-right: $grid-gutter-width;
		@media (min-width: $screen-md-min) {
			display: table;
		}
		i {
			font-size: 1.6em;
			margin-top: $grid-gutter-width/4;
			display: block;
		}
	}
}

.label {
    font-weight: 400;
    font-size: 2em;
	line-height: 1.34em;
    font-family: 'Zilla Slab', serif;
	font-style: italic;
	margin: 50px auto;
}

.element-margin {
//    margin-top: $grid-gutter-width*2;
    margin-bottom: $grid-gutter-width;
}

.page-content {
	line-height: 1.55em;
	h1,h2,h3,h4,h5 {
		font-family: 'Open Sans', sans-serif;
	}
    .element-margin {
        &:first-child {
            margin-top: 0;
        }
    }
	.slick-arrow {
		&.slick-prev {
			left: $grid-gutter-width/3;
		}
		&.slick-next {
			right: $grid-gutter-width/3;
		}
	}
	.slick-dots {
		margin-top: $grid-gutter-width/3;
	}
	
}

.intro-text {
	font-size: 1.55em;
	line-height: 1.214em;
	font-family: 'Zilla Slab', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.infobox {
    font-size: 1.15em;
    line-height: 1.5em;
    div {
        
    }
    .headline {
		color: $white;
        font-family: 'Zilla Slab', sans-serif;
        font-size: 1.8em;
        line-height: 1.6em;
        display: inline;
        background-color: $black;
        box-shadow: 8px 0 0 $black, -8px 0 0 $black;
		box-decoration-break: clone;
		font-weight: 700;
		margin-left: 8px;
    }
    p {
//      display: inline;
//		background-color: rgba($black,.6);
//      box-shadow: 8px 0 0 rgba($black,.6), -8px 0 0 rgba($black,.6);
//		box-decoration-break: clone;
    }
    a {
		color: $white;
        font-size: .8em;
        line-height: 2em;
		background-color: $black;
        box-shadow: 8px 0 0 $black, -8px 0 0 $black;
		box-decoration-break: clone;
		font-weight: 700;
		margin-left: 8px;
		text-decoration: none;
	}
}

.background-image {
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	@media (min-width: $screen-sm-min) {
		background-attachment: fixed;
	}
}